.stopButton {
    -fx-background-radius: 60;
    -fx-background-size: 100%;
    -fx-background-position: 90%;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 120px;
    -fx-pref-height: 120px;
}

.moveButton {
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-padding: 10 10 10 10;
}

#btnMoveStop {
    -fx-background-image: url('/RobotRemote/UI/Images/stop.png');
    -fx-padding: 10 10 10 10;
    -fx-margin: 10 10 10 10;
}

#btnMoveUp {
    -fx-background-image: url('/RobotRemote/UI/Images/up.png');
}

#btnMoveLeft {
    -fx-background-image: url('/RobotRemote/UI/Images/left.png');
}

#btnMoveRight {
    -fx-background-image: url('/RobotRemote/UI/Images/right.png');
}

#btnMoveDown {
    -fx-background-image: url('/RobotRemote/UI/Images/down.png');
}

#btnZoomReset {
    -fx-background-position: 90%;
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-padding: 10 10 10 10;

    -fx-background-size: 50%;
    -fx-background-repeat: no-repeat;
    -background-image: url('/RobotRemote/UI/Images/fullscreen_icon.png');
}
